<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <div class="container">
        <a href="{% url 'index' %}" class="navbar-brand">Synthetic Player</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="{% url 'index' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/help" class="nav-link">Help</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
        </ul>

        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <form class="d-flex" action="{% url 'search' %}">
                <input class="form-control me-2" type="text" name="q" placeholder="Search">
                <button class="btn btn-secondary" type="submit">Search</button>
              </form>
            </div>
          </nav>

    </div>
</nav>